<footer class="page-footer blue lighten-3">
        <div class="container center">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="black-text">Stats Buddy Designed By:</h5>
              <p class="black-text">Alan Edlebeck</p>
              <p class="black-text">Alex Kress</p>
              <p class="black-text">Mike McMahon</p>
              <p class="black-text">David Williams</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="black-text">GitHub Links:</h5>
                <p><a class="black-text" href="https://github.com/edlebeck" target="_blank">Alan Edlebeck GitHub</a></p>
                <p><a class="black-text" href="https://github.com/Alex-Kress" target="_blank">Alex Kress GitHub</a></p>
                <p><a class="black-text" href="https://github.com/mcmahonmike" target="_blank">Mike McMahon GitHub</a></p>
                <p><a class="black-text" href="https://github.com/SafteyDav3" target="_blank">David Williams Github</a></p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container center pink-text">
            <img src="/images/stats-buddy-logo-small.png" alt="Small Stats Buddy Logo with the letters S and B" class="left">
            © 2022 Red Jaguars
            <img src="/images/stats-buddy-logo-small.png" alt="Small Stats Buddy Logo with the letters S and B" class="right">
          <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
          </div>
        </div>
      </footer>