<nav>
    
        <div class="nav-wrapper blue lighten-3">
            <a href="#!"><img src="/images/stats-buddy-logo-small.png"></a>
          <a href="#!" class="brand-logo center pink-text">League Page</a>
          <ul class="right">
            <li><a class="light-blue-text text-darken-4">Logout</a></li>
          </ul>
        </div>
      </nav>