  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  {{> nav pageTitle}}

    <div class="row">
      {{> sidebar }}
        <div class="row container center">
                <form class="col card-panel l3" id="add-team">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">directions_walk</i>
                      <input id="team-input" type="text" class="validate">
                      <label for="team-input">Add New Team's Name</label>
                      <button class="btn pink waves-effect waves-blue" type="submit">Submit
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                  </div>
                </form>

              <table class="highlight centered responsive-table col s4">
                <thead>
                    <tr>
                        <th>League Name:</th>
                        <th><a href="/leagues">{{teams.name}}</a></th>
                    </tr>
                </thead>
              </table>

              <br>

              <table class="highlight centered responsive-table col l9 m9 s12">
                <thead>
                  <tr>
                      <th>Teams in League</th>
                  </tr>
                </thead>
        
                <tbody>

                  {{#each teams.teams}}
                  <tr>
                    <td><a href="/team/{{id}}">{{team_name}} managed by {{manager}}</a></td>
                  </tr>
                  {{/each}}
                
                </tbody>
              </table>
        </div>
  
      </div>

      {{> footer}}
<script src="/js/add-team.js"></script>