  {{> nav}}

    <div class="row">
      {{> sidebar}}
        <div class="row container center">
                <form class="col card-panel l3">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">directions_walk</i>
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Add New Team's Name</label>
                      <button class="btn pink waves-effect waves-blue" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                  </div>
                </form>

              <table class="highlight centered col s4">
                <thead>
                    <tr>
                        <th>League Name:</th>
                        <th>Milwaukee's Finest</th>
                    </tr>
                </thead>
              </table>

              <br>

              <table class="highlight centered col l9 m9 s12">
                <thead>
                  <tr>
                      <th>Teams in League</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Aces of Bases</td>
                  </tr>
                  <tr>
                    <td>McGlovin</td>
                  </tr>
                  <tr>
                    <td>Bat Attitudes</td>
                  </tr>
                  <tr>
                    <td>Balk Paper Scissors</td>
                  </tr>
                  <tr>
                    <td>Ball of Duty</td>
                  </tr>
                  <tr>
                    <td>One Hit Wonders</td>
                  </tr>
                  <tr>
                    <td>Base Invaders</td>
                  </tr>
                  <tr>
                    <td>Umpire Strikes Back</td>
                  </tr>
                </tbody>
              </table>
        </div>
  
      </div>

      {{> footer}}