{{>nav}}

    <div class="row">
        {{> sidebar}}
        
  
              <div class="row container center">
                <form class="col card-panel l3">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">directions_walk</i>
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Add New Player's Name</label>
                      <button class="btn pink waves-effect waves-blue" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                  </div>
                </form>

              <table class="highlight centered responsive-table col s4">
                <thead>
                    <tr>
                        <th>League Name:</th>
                        <th>Milwaukee's Finest</th>
                        <th>Team Name:</th>
                        <th>The Micro Brewers</th>
                    </tr>
                </thead>
              </table>

              <br>

              <table class="highlight centered responsive-table col l9 m9 s12">
                <thead>
                  <tr>
                      <th>Player Name</th>
                      <th>At Bats</th>
                      <th>Hits</th>
                      <th>Walks</th>
                      <th>Strikeouts</th>
                      <th>RBIs</th>
                      <th>Runs Scored</th>
                      <th>Stolen Bases</th>
                      <th>Average</th>
                      <th>On Base Percentage</th>
                      <th>Innings Pitched</th>
                      <th>Earned Runs</th>
                      <th>Earned Run Average</th>
                      <th>Hits</th>
                      <th>Strikeouts</th>
                      <th>Walks</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>lochlainn</td>
                    <td>20</td>
                    <td>5</td>
                    <td>2</td>
                    <td>13</td>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>.250</td>
                    <td>.350</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>Ramiz</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tamara</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Peter</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Leroy</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Deeann</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Gil</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Mathis</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Lena</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Emilia</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Sujay</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Skye</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
  
      </div>

      {{> footer}}