{{>nav}}

    <div class="row">
        {{> sidebar}}
        
  
        <!-- <div class="col s9">
            <div class="container">
                <div class="row">
                    <div class="col s3">Player Name</div>
                    <div class="col s1">AB</div>
                    <div class="col s1">R</div>
                    <div class="col s1">H</div>
                    <div class="col s1">RBI</div>
                    <div class="col s1">BB</div>
                    <div class="col s1">K</div>
                    <div class="col s1">7</div>
                    <div class="col s1">AVG</div>
                    <div class="col s1">OBP</div>
                  </div>
              </div> -->

              <table class="highlight centered responsive-table col s4">
                <thead>
                    <tr>
                        <th>League Name:</th>
                        <th>Milwaukee's Finest</th>
                        <th>Team Name:</th>
                        <th>The Micro Brewers</th>
                        <th>Player Name:</th>
                        <th>lochlainn</th>
                    </tr>
                </thead>
              </table>

              <br>

              <table class="highlight centered responsive-table col l9 m9 s12">
                <thead>
                  <tr>
                      <th>Game Number</th>
                      <th>At Bats</th>
                      <th>Hits</th>
                      <th>Walks</th>
                      <th>Strikeouts</th>
                      <th>RBIs</th>
                      <th>Runs Scored</th>
                      <th>Stolen Bases</th>
                      <th>Average</th>
                      <th>On Base Percentage</th>
                      <th>Innings Pitched</th>
                      <th>Earned Runs</th>
                      <th>Earned Run Average</th>
                      <th>Hits</th>
                      <th>Strikeouts</th>
                      <th>Walks</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Game 1</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>.333</td>
                    <td>.333</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>Game 2</td>
                    <td>6</td>
                    <td>2</td>
                    <td>1</td>
                    <td>3</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>.333</td>
                    <td>.500</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>Game 3</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>.400</td>
                    <td>.400</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>Game 4</td>
                    <td>6</td>
                    <td>0</td>
                    <td>1</td>
                    <td>5</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>.000</td>
                    <td>.167</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
              <div class="row container center">
                <form class="col card-panel l3">
                    <p>Enter New Game Stats in Fields Below and the Click Submit</p>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of At Bats</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Hits</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Walks</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Strikeouts</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of RBIs</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Runs Scored</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Stolen Bases</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Innings Pitched</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Earned Runs</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Hits</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">assessment</i>
                          <input id="icon_prefix" type="text" class="validate">
                          <label for="icon_prefix">Enter # of Strikeouts</label>
                        </div>
                      </div>
                    <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">assessment</i>
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Enter # of Walks</label>
                      <button class="btn pink waves-effect waves-blue" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                  </div>
                </form>
        </div>
  
      </div>

      {{> footer}}